apiVersion: builtin
kind: ImageTagTransformer
metadata:
  name: imagetag-controller
imageTag:
  name: imagetag/controller
  newName: CONTROLLER_IMAGE_NAME
  newTag: "CONTROLLER_TAG"
---
apiVersion: builtin
kind: ImageTagTransformer
metadata:
  name: imagetag-ranks-server
imageTag:
  name: imagetag/ranks
  newName: RANKS_IMAGE_NAME
  newTag: "CONTROLLER_TAG"

